
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
    border: 1px white;
}
body{
    background: url('czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0xOS1jYXJkLTA1LWJsZW5kaW5nc3BhY2UuanBn.webp');
    background-size: cover;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid white;
    padding:18px 60px;
    
}
.nav1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 ul li{
    list-style-type: none;
    position: relative;
    margin:0px 10px;
    padding:0px 2px;
}
.nav1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
.search1{
    background-color: #fff;
    font-size: none;
    border-radius: 25px;
    padding:10px 20px;
    margin-left: 15px;
    cursor: pointer;
}
.search1::placeholder{
    color: black;
}
.nav1 .logo .logo1{
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
}
.new::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #fff;
    display: block;
    transition: .5s ease-in-out;
}
.new:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    
}
.logo-image {
    width: 60px; 
    height: 60px;
    border-radius: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: -20px;
}
.logo1 a{
    color: white;
    text-decoration: none;
}
footer{
    display: flex;
    margin-top: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer1{
    display: flex;
    justify-content: center;
    padding:40px 30px 20px;
    border-top: 1px solid white;
}
.footer1 ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer1 ul li{
    list-style-type: none;
    margin:0 15px;
    padding:0px 1px;
}
.footer1 ul li a{
    color: #fff;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    font-size: 20px;
}
.main-box{
    width: 100%;
    margin-top: 30px;
    height: 200px;
    background: transparent;
   
}
.main-box h2{
    text-decoration: underline;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.main-box .box{
    display: flex;
    align-items: center;
    padding-left: 45%;
}
.main-box .box1{
   display: flex;
   padding-bottom: 30px;
   justify-content: center;
}
.box1 p{
    font-weight: bolder;
    padding-left: 10px;
    color: white;
}

